<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809990125913-rfia6nom3dmrta9ohtjq8s5es5hrukdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809990125913-rfia6nom3dmrta9ohtjq8s5es5hrukdn</string>
	<key>API_KEY</key>
	<string>AIzaSyBLaOuo8fyuWefzXXrk2cUI67C5eaKD1no</string>
	<key>GCM_SENDER_ID</key>
	<string>809990125913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yutaokawa.playground</string>
	<key>PROJECT_ID</key>
	<string>playground1-4417a</string>
	<key>STORAGE_BUCKET</key>
	<string>playground1-4417a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809990125913:ios:aae02076ac3609dd793448</string>
</dict>
</plist>